.mainContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
}
.details{
    display: flex;
    flex-wrap: wrap;
} 

.details h1{
    margin-top: 5%;
    font-style: normal;
    font-family:sans-serif;
    font-size: 2rem;
}
.doc-avatar{
    margin-left: 10%;
    max-width: 20%;
    
}
.text-view{
    max-width: 21%;
    margin-top: 5%;
    margin-left: 5%;
}
.details h3{
    word-break: break;
}
.recommendedDoctors{
    padding-right:5%;
}
.rating{
    margin-top: 5%;
}